<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlazoriseBugReportBulma_250109</title>

    <base href="/" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css" />
    <link href="_content/Blazorise.Icons.FontAwesome/v6/css/all.min.css" rel="stylesheet">

    <link href="_content/Blazorise/blazorise.min.css?v=1.7.0.0" rel="stylesheet" />
    <link href="_content/Blazorise.Bulma/blazorise.bulma.css?v=1.7.0.0" rel="stylesheet" />

    <link href="BlazoriseBugReportBulma_250109.Styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/blazor-ui.css" />

    <HeadOutlet @rendermode="InteractiveAuto" />
</head>
<body>
    <Routes @rendermode="InteractiveAuto" />
    <script src="_framework/blazor.web.js"></script>
</body>
</html>